---
import Head from "~/components/Head.astro";
---

<html lang="en">
  <head>
    <title>500</title>
    <Head />
  </head>
  <body>
    <main>
      <h1 id="h">Internal Server Error</h1>
      <br />
      <a href="/"><p>[return]</p></a>
    </main>
    <script>
      h.onmouseenter = () => (h.textContent = "1nt3rn4l S3rv3r 3rr03");
      h.onmouseleave = () => (h.textContent = "Internal Server Error");
    </script>
  </body>
</html>
